<h2 class="flex justify-center p-20 text-2xl">Login Here</h2>

<div>
	<form class="px-4 py-3 rounded-full flex justify-center flex-col ">
		<input
			class="p-10 bg-gray-300
			placeholder-opacity-70
			placeholder-gray-900"
			type="text"
			placeholder="User ID"
		/>
		<br />
		<input
			class="p-10 bg-gray-300
			placeholder-gray-900
			 placeholder-opacity-70"
			type="text"
			placeholder="User Name"
		/>
		<br />

		<button type="submit" class="bg-sky-500 px-10 py-3  rounded w-40">Submit</button>
	</form>
</div>
